html {overflow-y: scroll}
:root {
    --bgcolor: white;
    --fontcolor: #2e2e2e;
    --linkcolor: #5f4b5f;
    --precolor: #fff;
    --prebgcolor: #5f4b5f;
}
@media (prefers-color-scheme: dark) {
    :root {
    --bgcolor: white;
    --fontcolor: #2e2e2e;
    --linkcolor: #5f4b5f;
    --precolor: #fff;
    --prebgcolor: #5f4b5f;
    }
}
body{
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    /* font-family: 'Mulish', sans-serif; */
    font-family:'Noto Sans Mono', monospace;
    font: 14px/1.5;
    color:var(--fontcolor);
    background: var(--bgcolor)
}
a:link{color: var(--linkcolor)}
a:visited{color: var(--linkcolor)}
a:active{color: var(--linkcolor)}
h1,h2,h3{line-height:1.2}
p > code{
    font-family:'Noto Sans Mono', monospace;
    font: 14px/1.5;
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:2px
}
pre{
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:24px;
    overflow-x: auto
}
article{padding:24px 0}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}
figure {margin: auto}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto
}
